body {
    font-family: sans-serif;
}

table {
    width: 40%;
    display: inline-flex;
}

td, th {
    text-align: center;
    height: 100px;
    width: 10vh;
    background-color:limegreen;
}

.table-index {
    background-color: transparent;
}

#startzone-red {
    background-color: red;
}

#startzone-blue {
    color: white;
    background-color: blue;
}

#red-court {
    background-color: lavenderblush;
}

#blue-court {
    background-color: lightcyan;
}

.result-wrapper {
    display: flexbox;
}