table {
    width: 50%;
}

td, th {
    text-align: center;
    height: 100px;
    width: 12%;
    background-color:limegreen;
}

.table-index {
    background-color: white;
}

#startzone {
    background-color: red;
}